## ide
**/.idea
*.iml

## backend
**/target
**/logs

## front
**/*.lock
/ant-design-vue-jeecg/.env.production
/ant-design-vue-jeecg/.env.test
/ant-design-vue-jeecg/.env.development
/ant-design-vue-jeecg/Dockerfile
/ant-design-vue-jeecg/.env.dev
